@using RCE.Application.DTOs
@model IEnumerable<ProductDTO>

        @foreach (var item in Model)
        {
            <div class="single-products-catagory clearfix m-1">
                <a onclick="getCartModal(this)"  href="javascript:void(0)" data-id="@item.Id">
                    <img src="@item.PhotoPath" style="height:200px" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <h4>@item.Name</h4>
                    </div>
                </a>
            </div>
 }

